.campaignBanner {
	position: relative;
}

.campaignBanner img {
	width: 100%;
}

.campaignBanner img.gradient {
	width: 100%;
}

.gradient {
	position: absolute;
	top: 0;
	left: 0;
}

.campaignBanner h1 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 55px;
	line-height: 108px;

	letter-spacing: 2px;
	text-transform: uppercase;

	color: #ffb800;

	position: absolute;
	top: 108px;
	left: 150px;
}

.campaigns {
	padding: 49px 0 56px;
}

.campaigns h2 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;

	text-transform: uppercase;

	color: #000000;
	margin-bottom: 3%;
}

.firstRow {
	margin-bottom: 36px;
}

.campaignCells {
	padding: 24px 49px !important;
}

.campaignContents {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.campaignContents h4 {
	font-family: "Utsaah";
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;

	color: #000000;

	margin-top: 7px;
}

.campaignDate {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 16px;

	letter-spacing: 0.9px;

	color: rgba(255, 184, 0, 0.8);
	margin-bottom: 20px;
}

.campaignContents p {
	font-family: "Utsaah";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 22px;

	color: #000000;

	margin-bottom: 30px;
}

.campaignContents span.seeMore {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	width: fit-content;

	color: #ffffff;
	padding: 3px 5px;
	background: #d96704;
	box-shadow: 0px 4px 6px rgba(180, 169, 169, 0.15);
	align-self: flex-end;
}

.seeAll {
	text-align: center;
	margin-top: 72px;
}

.seeAll a {
	text-decoration: none;
	color: #000000;
}

@media screen and (max-width: 820px) {
	.campaignBanner h1 {
		font-size: 46px;
		top: 67px;
		left: 110px;
	}
}

@media screen and (max-width: 390px) {
	.campaignBanner h1 {
		font-size: 34px;
		top: 9px;
		left: 32px;
	}
}
