.campaignWrapper {
	position: relative;
}

.bannerLabel p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 26px;

	text-align: center;
	letter-spacing: 0.44px;
	text-transform: uppercase;

	color: #ffffff;
	margin: 0;
}
.bannerLabel {
	background: #d96704;
	padding: 21px 68px;
	position: absolute;
	left: 37.5%;
	top: 86%;
}

.bookContainer {
	padding: 0 150px !important;
}

.bookcol {
	text-align: center;
	margin-bottom: 40px;
}

.bookcol img {
	width: 100%;
}

.Books {
	padding-top: 164px;
	padding-bottom: 135px;
}

p.author {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 16px;

	letter-spacing: 0.9px;

	color: #d96704;
	margin-top: 4px;
	margin-bottom: 0;
}

@media screen and (max-width: 820px) {
	.bannerLabel {
		left: 32.5%;
		top: 80%;
	}

	.bookContainer {
		padding: 0 15px !important;
	}
}

@media screen and (max-width: 390px) {
	.bannerLabel {
		left: 14.5% !important;
		top: 65%;
		padding: 13px 25px;
	}
}
