.bannerText p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 59px;
	text-transform: uppercase;
	color: #d96704;

	margin-bottom: 0;

	position: absolute;
	left: 36%;
	top: 74%;
}

.transparency {
	padding: 72px 0 100px;
}

.transparencyContainer {
	padding: 0 150px !important;
}

.transparencyContents h4 {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 202.99%;

	color: #000000;

	margin-bottom: 54px;
}

.transparencyContents p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 232.99%;

	color: #000000;
}

@media screen and (max-width: 820px) {
	.transparencyContainer {
		padding: 0 15px !important;
	}
	.bannerText p {
		left: 25%;
	}
}

@media screen and (max-width: 390px) {
	.bannerText p {
		left: 24%;
		top: 50%;
		font-size: 25px;
	}
	.transparencyContents h4 {
		font-size: 16px;
	}

	.transparencyContents p {
		font-size: 13px;
	}
}
